/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;900&display=swap');

$desktop: 840px;
$tablet: 666px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin for-size($range) {
    $phone-upper-boundary: 600px;
    $tablet-portrait-upper-boundary: 900px;
    $desktop-square-upper-boundary: 1023px;
    $tablet-landscape-upper-boundary: 1200px;
    $desktop-upper-boundary: 1800px;
  
    @if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
    } @else if $range == tablet-portrait-up {
      @media (min-width: $phone-upper-boundary) { @content; }
    } @else if $range == tablet-landscape-up {
      @media (min-width: $tablet-portrait-upper-boundary) { @content; }
    } @else if $range == desktop-old-up {
      @media (min-width: $desktop-square-upper-boundary) { @content; }
    } @else if $range == desktop-up {
      @media (min-width: $tablet-landscape-upper-boundary) { @content; }
    } @else if $range == big-desktop-up {
      @media (min-width: $desktop-upper-boundary) { @content; }
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    >.content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@keyframes orbit {
	to { 	transform: rotate(0deg) translateX(150px); }
    from   {  transform: rotate(360deg) translateX(150px); }
}
@keyframes rotation {
    to{transform: rotate(360deg);}
    from{transform: rotate(0deg);}
}
@keyframes orbitfar{
    to { 	transform: rotate(0deg) translateX(250px); }
    from   {  transform: rotate(360deg) translateX(250px); }
}

@mixin stroke-width($property) {
    -webkit-text-stroke-width: $property;
    -moz-text-stroke-width: $property;
  }
  
@mixin stroke-color($property) {
    -webkit-text-stroke-color: $property;
    -moz-text-stroke-color: $property;
  }
  
@mixin background-clip($property) {
    -webkit-background-clip: $property;
    -moz-background-clip: $property;
    background-clip: $property;
  }
  
@mixin fill-color($property) {
    -webkit-text-fill-color: $property;
    -moz-text-fill-color: $property;
  }

  
  
/* ==========================================================================
    Star effect
    ========================================================================== */

@function box-shadow($stars) {
    $bxshadow: ();
    @for $i from 1 to $stars {
        $bxshadow: append($bxshadow, (random(2000) + 0px) (random(2000) + 0px) #fff, comma);
    }
    @return unquote($bxshadow);
}

$bxshadow-large: box-shadow(300);
$bxshadow-medium: box-shadow(500);
$bxshadow-small: box-shadow(800);


@keyframes blink-large {
    0% {
        box-shadow: $bxshadow-large;
    }	
    70% {
        $colors: '#fff', 'transparent';
        $stars: $bxshadow-large;
        @for $i from 1 to length($stars) {
            $star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
            $stars: set-nth($stars, $i, $star);
        }
        box-shadow: $stars;
    }
    100% {
        box-shadow: $bxshadow-large;
    }
}

@keyframes blink-medium {
    0% {
        box-shadow: $bxshadow-medium;
    }	
    70% {
        $colors: '#fff', 'transparent';
        $stars: $bxshadow-medium;
        @for $i from 1 to length($stars) {
            $star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
            $stars: set-nth($stars, $i, $star);
        }
        box-shadow: $stars;
    }
    100% {
        box-shadow: $bxshadow-medium;
    }
}

@keyframes blink-small {
    0% {
        box-shadow: $bxshadow-small;
    }	
    70% {
        $colors: '#fff', 'transparent';
        $stars: $bxshadow-small;
        @for $i from 1 to length($stars) {
            $star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
            $stars: set-nth($stars, $i, $star);
        }
        box-shadow: $stars;
    }
    100% {
        box-shadow: $bxshadow-small;
    }
}

@keyframes slow-blink {
    from{ opacity: 0.9 ;}
    to{ opacity: 0.1 ;}
}

$pink:#6E0270;
$hotpink:#D80077;
$lightpink:#FF97FB;
$gray:#EFF1EF;
$darkgray: #8e8e8e;
$black:#0D0D0D;
$transblack: rgba(5, 5, 5, 0.7);
$almostblack:#272727;
$white:#f2f2f2;
$whiteback: #fff;
$success: #4BB543;
$error: #F74162;
$morphshad: 9px 9px 16px rgba(163, 177, 198, 0.6),
-9px -9px 16px rgba(255, 255, 255, 0.5);
$buttshad: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
0px 6px 10px 0px rgba(0, 0, 0, 0.14),
0px 1px 18px 0px rgba(0, 0, 0, 0.12);
$phi: 1.618;

* {
    font: 16px/26px 'Raleway', sans-serif;
    @include desktop{
        font: 20/30px 'Raleway', sans-serif;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    scrollbar-width: 0px;
    scrollbar-width: none;
    // overflow-x: hidden;
}

::-webkit-scrollbar{
    display: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

footer {
    // background-color: $black;
    width: 100%;
    margin: 0;
    color: $white;
    padding: 30px 0;
    text-align: center;
    overflow: hidden;
    z-index: 3;

    p{
        z-index: 4;
    }

    a {
        color: $hotpink;
        font-weight: 600;
        font-size: 1.1em;
        text-decoration: none;
        z-index: 4;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .hiddenmofo{
        color:transparent;
        font-size:16px;
        line-height: 0;
    }

    svg{
        height: 350px;
        width: 100vw;
        position: absolute;
        left: 0;
        z-index: 3;
        margin-top:-80px;
    }
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* =======================================================
    Initializr Styles
    ========================================================================== */
body {
    font: 16px/26px 'Raleway', sans-serif;
    background-color: $pink;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: $white;
    padding: 0px 5% 10px;
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
section {
    display: flex;
    flex-wrap: wrap;
}

button:hover {
    transform: scale(1.2);
    font-weight: 600;
}

/////// dark mode stuff
@media screen and (prefers-color-scheme: dark) {
 
}


/* ==========================================================================
   MAIN NAV
   ========================================================================== */

.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* ==========================================================================
    HEADER
    ========================================================================= */
header {
    position: -webkit-sticky;
    position: sticky; 
    top: -87vh;
    z-index: 8;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include for-size(desktop-old-up){
        top: -89vh;
    }

    .animation-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        height: 100vh;

        img {
            width: 100px;
            position: absolute;
            left: calc(50vw - 50px);
            top: calc(40vh - 50px);
            z-index: 10;
        }

        #logo{
            animation: rotation 30s linear infinite;
            z-index: 10;
        }

        #rocket{
            z-index: 10;
            animation: orbit 8s linear infinite;
            @include tablet{
                animation: orbitfar 10s linear infinite;
            }
        }

        #bars{
            z-index: 11;
            width:54px;
            transform: translate(23px, 30px)
        }

        #scroll{
            height:50px;
            z-index: 10;
            top: 86vh;
            opacity: 0.5;
        } 

        .stars{ 
            top:0;
            left:0;
            position: absolute;
            z-index: 9;
            height: 100vh;

            &-large { 
                height: 3px;
                width: 3px;
                background: transparent;
                box-shadow: $bxshadow-large;
                animation: blink-large 7s infinite;
            }
            &-medium {
                height: 2px;
                width: 2px;
                background: transparent;
                box-shadow: $bxshadow-medium;
                animation: blink-medium 5s infinite;
            }
            &-small {
                height: 1px;
                width: 1px;
                background: transparent;
                box-shadow: $bxshadow-small;
                animation: blink-small 3s infinite;
            }
        }
    }
    
    .container {
        z-index: 3;
        height: 12vh;
        width: 100%;
        transition: all 0.161s ease;
        overflow: hidden;
        display: flex;
        
        &-tall{
            height:165vh;
            // position: fixed;
        }

        svg {
            height: 100%;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            transition: all ease;
            transform: rotate( 180deg);

        }
    }   
}
   
nav.mainNav{
    z-index: 115;
    width: 100vw;
    position: fixed; 
    top: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
    @include for-size(desktop-old-up){
        flex-direction: row;
        // display: flex;
        // display: none;
    }
   
    img{
        height:50px;
        margin: 0;
        padding: 5px 5vw;
    }    

    .icon-three {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;

        @include for-size(desktop-old-up){
            display: none;
        }

        .hamburger {
            top:50%;
            // left:10%;
            width: 25px;
            height: 3px;
            background: #FCFCFC;
            position: absolute;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
            transition: 0.5s;
            border-radius: 3px;
        
            &:before {
                top: -8px;
                border-radius: 3px;

            }
            
            &:after {
                top: 8px;
                border-radius: 3px;

            }
    
        }


        .hamburger-three:before,
        .hamburger-three:after {
            content: '';
            position:absolute;
            width: 25px;
            height: 3px;
            background:#FCFCFC;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition:0.5s;
            border-radius: 3px;

        }
        
        &.active-three .hamburger-three {
            background:rgba(0,0,0,0);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
            border-radius: 3px;

        }
        
        &.active-three .hamburger-three:before {
            top: 0;
            transform:rotate(135deg);
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
            border-radius: 3px;

        }
        
        &.active-three .hamburger-three:after {
            top: 0;
            transform:rotate(225deg);
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
            border-radius: 3px;

        }
    }
    
    ul{
        list-style: none;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        top:200px;
        padding:0;

        li{
            color: $whiteback;
            cursor: pointer;
            margin: 4vh auto;
            text-align: center;
            text-transform: uppercase;
            transition: all 0.161s ease;

            a{
                text-decoration: none;
                color: $whiteback;
                cursor: default;
                font-size: 2em;
                font-weight: 900;
            }
        }


        @include for-size(desktop-old-up){
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width:100%;
            padding:0;
            display: flex;

            li{
                padding: 2px 20px;
                margin:0;
                border: solid;
                border-width: 1px;
                border-color: rgba(255,255,255,0);
                border-radius: 20px;
                
                &:hover{
                    border-color: rgba(255,255,255,1);
                }
            
                a{
                    text-decoration: none;
                    color: $whiteback;
                    cursor: default;
                    font-size: 1em;
                    font-weight: 600;
                }
            }
        }
    }
}

/* ==========================================================================
    SERVICIOS SECTION
    ========================================================================= */
#servicios{
    display: flex;
    flex-direction: column;
    margin-top: -50px;

    h1{
        width: 100%;
        text-align: center;
        font-size: 3.5em;
        // margin: 2em auto;
        z-index: 2;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: 800;
        text-shadow: 8px 8px $hotpink;
        @include stroke-width(2px);
        @include stroke-color($pink);
        color: transparent;
        transition: all 0.61s ease-in-out ;
        
        &:hover{
            text-shadow: 0px 0px $pink;
            @include stroke-color(transparent);
            cursor: default;
        }
        @include desktop{
            font-size: 6em;
            // margin: 2.5em auto 15px auto;
        }
    }

    div{
        display: flex;
        width: 100%;
        flex-direction: column;

    
        .imagefiller {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            // height: 100vw;
            width: 100%;
            min-width: 300px;
            order: 1;
           
            &:before {
                content: "";
                display: block;
                padding-bottom: 85vw;

                @include desktop{
                padding-bottom: 45vw;
                }
            }
            @include tablet{
                // height: auto;
                // width: 55vw;
            }
            @include desktop{
                width: 55vw;
            }

        }

        .caja {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: $whiteback;
            order:2;

            &:before {
                content: "";
                display: block;
                padding-bottom: calc(100vw * #{$phi});

                @include tablet{
                    padding-bottom: 100vw;
                }
            }

            &-inner {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    font-size: 2.8em;
                    font-weight: 800;
                    text-transform: uppercase;
                    // color: $hotpink;
                    text-shadow: 3px 3px $hotpink;
                    @include stroke-width(2px);
                    @include stroke-color($pink);
                    color: transparent;
                    letter-spacing: 5px;
                    transition: all 0.61s ease-in-out ;
                    line-height: 1em;
                    margin: -15px 5px 15px 5px;

                   @include tablet{
                       font-size: 3em;
                   }
                   @include desktop{
                       font-size: 3.3em;
                   }
                }

                p {
                    margin:20px 5vw;
                    line-height: 22px;
                
                    &:nth-child(3){
                        width: 60%;
                        transform:scale(1.3);
                        font-weight: 700;
                        padding: 0px 10px;
                        border-left: 5px solid $hotpink;
                        font-style: oblique;
                        color: $almostblack;
                        @include desktop{
                            width:60%;
                        }
                    }
                }
            }

            &:nth-child(*) {
                background-color: $whiteback;
            }

            @include desktop {
                    width: 45vw;
                    min-width: 300px;

                p {
                    margin: 5vh 3vw;
                }

                &:before {
                    padding-bottom: 90%;
                }
            }

            @include tablet{
                p{
                    margin: 3vh 2vw;
                }
            }
        }

        @include desktop{
            flex-direction: row;

            &:nth-child(even) > .caja{
                order:1;
            }
            &:nth-child(even) > .imagefiller{
                order:2;
            }
        }
    }
}

/* ==========================================================================
    ABOUT SECTION
    ========================================================================= */
#reasons {
    background-image: linear-gradient(to bottom,$pink, $pink, #822083, #8d2b8d, #973697);
    color: $black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    padding: 80px 0;

    #randomDiv{
        background-color: transparent;
        width: 100%;
        margin-top: -120px;
        z-index: 100;
    
        svg{
            width: 100%;
        }
    }

    h3 {
        font-size: 2em;
        font-weight: 600;
        text-transform: uppercase;
        z-index: 10;
        line-height: 1.2em;
        transform: translateY(-60px);
        color: $hotpink;

        span{
            font-weight: 900;
            font-size: 1.5em;
            color: $lightpink;
        }

        &:before {
            content: "[";
            position: absolute;
            color: $whiteback;
            // font-weight: 900;
            z-index: -1;
            font-size: 2.5em;
            transform: translate(-0.3em,0) rotate(5deg);
        }

        &:after {
            content: "]";
            position: absolute;
            color: $whiteback;
            // font-weight: 900;
            z-index: -1;
            font-size: 2.5em;
            transform: rotate(-5deg);
        }
    }

    p {
        margin: 0 5vw;
        line-height: 20px;
        color: $whiteback;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #three {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        // padding: 50px 0;

        div {
            width: 100%;
            margin: 20px 0;

            div{
                width: 100px;
            }

            h4 {
                font-size: 1.5em;
                line-height: 1.1em;
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-align: center;
                color: $lightpink;
                margin-bottom: 0.5em;
            }

            p {
                margin: 0 2.5vw;
                line-height: 22px;
            }
        }
    }

    @include desktop {
        min-height: calc(50vw - 160px);
        flex-direction: row;
        justify-content: space-around;
        align-content: space-evenly;

        #three {
            flex-direction: row;
            padding: 0;

            div {
                width: 30vw;
            }
        }
    }
}

/* ==========================================================================
  CONTACT STYLES
   ========================================================================== */
#contacto {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: $whiteback;
    padding: 0 5vw 5vh ;
    // background: $whiteback;

    h1 {
        text-align: center;
        font-size: 2em;
        font-weight: 600;
        clear: both;
        margin: 2em auto 2em auto;
        width: 100%;
        line-height: 1em;
        text-transform: uppercase;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .mauticform-innerform {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            // text-align: center;
            color: $white;

            @include for-size(desktop-old-up){
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: space-between;
                justify-content: space-around;


            }

            .mauticform-label{
                text-align: left;
                font-size: 22px;
            }

            .radios,
            .textboxes{
                width: 95%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                @include for-size(desktop-old-up){
                    width: 48%;
                    max-width: 500px;
                    height: 100%;

                }
            }
            
            .mauticform-checkboxgrp-row{
                margin:1em;
                width:100%;
                display:flex;
                align-items: center;
                justify-content: space-between;

                span{
                    font-size: 1.3em;
                    line-height: 1.3em;
                }
                
                .slider {
                position: relative; display: block;
                width: 7em; height: 3em;
                cursor: pointer;
                border-radius: 1.5em;
                transition: 350ms;
                background: #ddd;
                transform: scale(0.8);
                
                    &:after {
                    position: absolute; content:'';
                    width: 2em; height: 2em;
                    top: 0.5em; left: 0.5em;
                    border-radius: 1.5em;
                    transition:
                        width 200ms ease-out,
                        height 300ms 50ms ease-in,
                        top 300ms 50ms ease-in,
                        left 250ms 50ms ease-in,
                        background 300ms ease-in,
                        box-shadow 300ms ease-in;
                    background: #f2f2f2;
                    box-shadow: 0 0 0 1.5em #f2f2f2 inset;
                    }
                }

                input:checked + .slider:after {
                width: 4em; 
                height: 3em;
                top: 0; 
                left: 3em;
                background: $success;
                box-shadow: 0 0 0 0 #f2f2f2 inset;
                }
               
                input { 
                    position:absolute; 
                    left:-9999px; 
                }
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }


        input:not([type='checkbox']),
        textarea {
            border: none;
            border-bottom: 2px solid $whiteback !important;
            width: 100%;
            height: 2em;
            // max-width: 500px;
            min-width: 300px;
            padding: 5px;
            margin: 20px auto;
            background: transparent;
            font-size: 1.2em;
            outline: none;
            color: $whiteback;
            transition: 0.16s ease-in-out;
            -webkit-appearance: none;
            -moz-appearance: textfield;

            &:focus {
                // border-bottom: solid $whiteback 2px !important;
                background: rgba(255, 255, 255, 0.05);
            }

            &:valid {
                border-bottom: solid $success 2px !important;
                // font-size: 1.6em;
                background:rgba(255, 255, 255, 0.1) ;
                font-weight: 600;
            }

            &:invalid {
                border-bottom: solid $error 2px !important;
            }
            
            // &:valid + span:after {
            //     position: absolute;
            //     content: '✓';
            //     padding-left: 5px;
            //     color: $success;
            //   }

        }

        textarea{
            height: 5em;
        }
    }
        #mauticform_rositio_submit {
            align-self: flex-end;
            margin: 30px auto;
        }

        button {
            border-radius: 50px;
            background-color: $white;
            box-shadow: $buttshad;
            padding: 20px 60px;
            margin: 2em;
            border: none;
            font-size: 1.7em;
            color: $hotpink;
            transition: 0.16s ease-in-out;
        

            &:hover {
                transform: scale(1.1);
                font-weight: 600;
                transition: 0.16s ease-in-out;
            }
        }

    .mauticform{
        &-error {
            margin-bottom: 10px;
            color: red;
        }

        &-message {
            margin-bottom: 10px;
            color: green;
        }

        &-row {
            display: block;
            margin-bottom: 20px;
        }

        &-label {
            font-size: 1.1em;
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        &-helpmessage {
            display: block;
            font-size: 0.9em;
            margin-bottom: 3px;
        }

        &-errormsg {
            display: block;
            color: red;
            margin-top: 2px;
        }
    }

}

.mauticform-input:required  label:before{
    color: $whiteback;
    content: " *";
    display: inline;
}


/***** MAUTIC FORM END *****/

/* ==========================================================================
   LAZYLOAD STYLES
   ========================================================================== */
.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

/* ==========================================================================
    GOO MENU 
    ========================================================================= */
nav.goobutt {
    z-index: 113;
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin-left: -175px;
    padding-top: 20px;
    padding-left: 175px;
    width: 350px;
    height: 250px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;

    .goobutt {
        -webkit-filter: url("#shadowed-goo");
        filter: url("#shadowed-goo");
    }

    .goobutt-item,
    .goobutt-open-button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $hotpink;
        border-radius: 100%;
        width: 70px;
        height: 70px;
        right: 20px;
        bottom: 20px;
        font-size: 36px;
        color: white !important;
        text-align: center;
        line-height: 71px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform ease-out 200ms;
        transition: -webkit-transform ease-out 200ms;
        transition: transform ease-out 200ms;
        transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
        box-shadow: $buttshad;

    }

    .goobutt-open {
        display: none;
    }

    .goobutt {
        position: fixed;
        right: 0px;
        bottom: 0px;
        margin-left: -175px;
        padding-top: 20px;
        padding-left: 175px;
        width: 350px;
        height: 250px;
        box-sizing: border-box;
        font-size: 20px;
        text-align: left;
    }

    .goobutt-item:hover {
        background: $pink;
        color: white !important;
    }

    .goobutt-item:nth-child(3) {
        -webkit-transition-duration: 70ms;
        transition-duration: 70ms;
    }

    .goobutt-item:nth-child(4) {
        -webkit-transition-duration: 130ms;
        transition-duration: 130ms;
    }

    .goobutt-item:nth-child(5) {
        -webkit-transition-duration: 190ms;
        transition-duration: 190ms;
    }

    .goobutt-item:nth-child(6) {
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
    }

    .goobutt-open-button {
        z-index: 2;
        -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
        transform: scale(1.1, 1.1) translate3d(0, 0, 0);
        cursor: pointer;
    }

    .goobutt-open-button:hover {
        -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }

    .goobutt-open:checked+.goobutt-open-button {
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-duration: 200ms;
        transition-duration: 200ms;
        -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    }

    .goobutt-open:checked~.goobutt-item {
        -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
        transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    }

    .goobutt-open:checked~.goobutt-item:nth-child(3) {
        -webkit-transition-duration: 160ms;
        transition-duration: 160ms;
        -webkit-transform: translate3d(-159.64323px, 10.67888px, 0);
        transform: translate3d(-159.64323px, 10.67888px, 0);
    }

    .goobutt-open:checked~.goobutt-item:nth-child(4) {
        -webkit-transition-duration: 240ms;
        transition-duration: 240ms;
        -webkit-transform: translate3d(-140.16646px, -77.15804px, 0);
        transform: translate3d(-140.16646px, -77.15804px, 0);
    }

    .goobutt-open:checked~.goobutt-item:nth-child(5) {
        -webkit-transition-duration: 320ms;
        transition-duration: 320ms;
        -webkit-transform: translate3d(-76.36932px, -140.59775px, 0);
        transform: translate3d(-76.36932px, -140.59775px, 0);
    }

    .goobutt-open:checked~.goobutt-item:nth-child(6) {
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        -webkit-transform: translate3d(11.57564px, -159.58071px, 0);
        transform: translate3d(11.57564px, -159.58071px, 0);
    }
}

/* ==========================================================================
    Popup styles start
    ========================================================================= */
#popup {
    display: none;
    z-index: 9;

    .popup__wrapper {
        background: rgba(0, 0, 0, .75);
        position: fixed;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;

        .popup__container {
            background: url(/img/hex.svg) no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin: 20px;
            width: 100%;
            height: 100%;
            z-index: 9;
            max-width: 440px;
            max-height: 500px;
            text-align: center;
        }

        p {
            font-weight: 600;
        }

        .h1 {
            font-size: 26px;
            margin-bottom: 15px;
        }

        button[type="discount"] {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            min-width: 244px;
            width: 50%;
            height: 50px;
            font-family: Raleway, sans-serif;
            font-size: 16px;
            color: #fff;
            line-height: 1.2;
            background-color: #6E0270;
            border-radius: 25px;
            transition: all .26s ease;
            // animation: wiggle 800ms infinite linear;
            font-weight: 600;
        }

        .popup__container:hover button[type="discount"] {
            bottom: 0;
            background-color: #D80077;
            animation: none;
            animation: pulse 1s infinite;
            font-weight: 800;
            box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.35);
        }

        &:hover .st0 {
            stroke: #6E0270;
        }

        // @keyframes wiggle {
        //     0% {transform: rotate(1deg);}
        //     25% {transform: rotate(-1deg);}
        //     50% {transform: rotate(2deg);}
        //     75% {transform: rotate(-1deg);}
        //     100% {transform: rotate(0deg);}
        // }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.1);
            }

            100% {
                transform: scale(1);
            }
        }

        i {
            position: relative;
            top: -100px;
            right: 0;
            left: 0;
            cursor: pointer;
        }
    }
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {

    /* ====================
        WIDE: CSS3 Effects
       ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    /* ============
        WIDE: Menu
       ============ */

    .title {
        float: left;
    }



    /* ============
        WIDE: Main
       ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
        Maximal Width
       =============== */

    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

$desktop: 1140px;
$tablet: 768px;
$small: 480px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin small {
    @media (min-width: #{$small}) {
        @content;
    }
}

@include desktop{
    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
       Helper classes
       ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;


    .focusable:active,
    .focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.invisible {
    visibility: hidden;
}


.clearfix {
    *zoom: 1;

    &:before{    
        content: " ";
        display: table;
    }
    &:after{
        content: " ";
        display: table;
        clear: both;
    }
}

